.container-myReviews {
    width: 98%;
    max-width: 500px;
    margin: auto;
}

.container-myReviews li {
    border-bottom: 1px solid grey;
}

.container-myReviews .delete-button, .edit-button {
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    margin: 0 10px;
    background-color: rgb(175, 96, 96);
}

.cancel-button, .save-button {
    margin-top: 10px;
}

