.searchResults {
    list-style: none;
    padding: 0 0 150px 0;
}

.searchResultLink {
    text-decoration: none;
}

.searchResults li {
    border-bottom: 1px solid grey;
    padding: 20px;
    min-height: 200px;
}

.searchResults h2 {
    text-decoration: underline;
}

.searchResults img {
    width: 100px;
}
