.navbar {
    font-size: 24px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 3px solid white;
}

.navbar a, .logout-link {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 10px;
    cursor: pointer; /* Gör att den känns klickbar */
}

.navbar a:hover, .logout-link:hover {
    text-decoration: underline;
}

.logout-button:hover {
    cursor: pointer;
}