* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Se till att body tar upp hela höjden */
    margin: 0; /* Ta bort eventuell standardmarginal från webbläsaren */
    background-color: #2f5c58;
  }

main {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0;
}

img {
    border: 5px solid white;
    margin-top: 10px;
}

h1 {
    padding: 100px 20px 20px 20px;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

input {
    font-size: 18px;
    color: black;
}


.searchbar-container {
    background-image: url('/src/assets/background.jpg');
    background-size: cover; /* Gör så att bilden täcker hela ytan */
    background-position: center center; /* Centrerar bilden */
    background-attachment: fixed; /* Fixera bilden när du scrollar */
    color: white; /* Textfärg */
    padding: 50px;
    height: 100vh; /* Sätt höjd till 100% av viewportens höjd */
    width: 100%; /* Sätt bredd till 100% */
    display: flex; /* För att använda flexbox */
    flex-direction: column;
    justify-content: center; /* Vertikal centrering av innehållet */
}
  